<%= form_with model: @post, url: post_path(@post.id), method: :patch, local: true do |f| %>
  <p>題名</p>
  <%= f.text_field :title %><br>
  <p>説明</p>
  <%= f.text_area :description %><br>
  <p>動画</p>
  <%= f.file_field :video %><br>
  <%= f.submit "変更する" %>
<% end %>
<%= link_to "一覧ページへ", posts_path %>
<%= link_to "詳細ページへ", post_path(@post.id) %>