<div class='container mt-5'>
  <h2 style="background-color:black;color:dark;display:inline" class="bg-light text-dark">新規投稿</h2>
  <div class='row mt-5'>
    <div class='col-6 mx-auto'>
      <%= form_with model: @post, local: true do |f| %>
        <table class="table">
          <tr>
            <td>タイトル</td>
            <td><%= f.text_field :title, class: "form-control" %></td>
          </tr>
          <tr>
            <td>動画説明</td>
            <td><%= f.text_area :description, class: "form-control" %></td>
          </tr>
          <tr>
            <td>ジャンル選択</td>
            <td><%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "-- 選択してください --") %></td>
          </tr>
          <tr>
            <td>投稿動画</td>
            <td><%= f.file_field :video %></td>
          </tr>
        </table>
        <%= f.submit "投稿", class: "mt-3 col mx-auto btn btn-sm btn-info" %>
      <% end %>
      </div>
  </div>
</div>