<div class='container pt-5'>
  <div class="card pt-5 pl-5 pr-5 pb-5">
  <h2><%= @post.title %></h2>
  <h4><%= @post.genre.name %></h4>
  <div class="embed-responsive embed-responsive-16by9">
    <video src="<%= rails_blob_path(@post.video) %>" type="video/mp4" controls></video>
  </div><br>
  <h6>投稿者：<%= @post.user.name %></h6>
  <h5><%= @post.description %></h5>
  <div class="mb-2">
    <% if @post.user == current_user %>
      <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-sm btn-info" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete, class: "btn btn-sm btn-outline-dark" do %>
        ★<%= @post.favorites.count %>
      <% end %>
    </p>
    <% elsif @user.name != "ゲストユーザー" %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post, class: "btn btn-sm btn-dark" do %>
        ☆<%= @post.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to "", class: "btn btn-sm btn-dark" do %>
        ☆<%= @post.favorites.count %>
      <% end %>
    </p>
  <% end %>
  <p>コメント件数:<%= @post.post_comments.count %></p>
  <div class='row mt-5'>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>ユーザー名</td>
          <td>日付</td>
          <td>コメント</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @post.post_comments.each do |post_comment| %>
        <tr>
          <td><%= post_comment.user.name %></td>
          <td><%= post_comment.created_at.strftime("%Y/%m/%d")%></td>
          <td><%= post_comment.comment %></td>
          <td>
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-outline field">
      <% if @user.name != "ゲストユーザー" %>
        <%= form_with model: [@post, @post_comment], local: true do |f| %>
          <%= f.text_area :comment, rows: "5", placeholder: "コメントを入力", size: "200x5", class: "form-control" %>
          <%= f.submit "送信", class: "btn btn-sm btn-dark mb-2 mt-2" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>