<div class="search_form">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.select :range, options_for_select([['User'], ['Post']]) %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backword_match"], ["部分一致","partial_match"]]) %>
    <%= f.submit "検索" %>
  <% end %>
</div>

ようこそmoplogへ！<br>

<%= link_to "新規投稿", new_post_path %>
|
<%= link_to "一覧画面", posts_path %>
|
<%= link_to "マイページ", users_path %>
|
<%= link_to "新規登録", new_user_registration_path %>
|
<%= link_to "ログイン", new_user_session_path %>
|
<%= link_to "管理者用ログイン", new_admin_session_path %>
|
<%= link_to "管理者用会員一覧", admin_users_path %>
|
<%= link_to "管理者用投稿一覧", admin_posts_path %>