<div class='container mt-5'>
  <h2 style="background-color:black;color:dark;display:inline" class="bg-light text-dark"><%= @genre.name %>一覧</h2>
  <h4 class="mt-3">全<%= @genre.posts.count %>件</h4>
  <div class='row mt-5'>
    <div class='col mx-auto'>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>投稿者</th>
            <th>タイトル</th>
            <th>動画説明</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @genre.posts.each do |post| %>
          <tr>
            <th><%= link_to post.user.name, admin_user_path(post.user.id) %></th>
            <th><%= link_to post.title, admin_post_path(post) %></th>
            <th><%= post.description %></th>
            <th><%= post.genre.name %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>