<!DOCTYPE html>
<html>
  <head>
    <title>Moplog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <%= link_to "Moplog", root_path, class: 'nav-link text-light' %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <% if user_signed_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "新規投稿", new_post_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
            <%= link_to "投稿一覧", posts_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザー一覧", users_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
          </ul>
          <tr>
            <font color="white">
              【<%= current_user.name %>】ログイン中
            </font>
          </tr>
          <% elsif admin_signed_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
            <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
            <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
          </ul>
          <% else %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light'%>
            </li>
            <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
            </li>
          </ul>
          <% end %>
          </ul>
          <div class="form-inline navbar-nav ml-auto">
            <% if user_signed_in? %>
              <%= form_with url: search_path, local: true, method: :get do |f| %>
                <%= f.text_field :word, placeholder: "キーワードを入力", class: "form-control" %>
                <%= f.select :range, options_for_select([['投稿者'], ['タイトル']]) %>
                <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                <%= f.submit "検索", class: 'btn btn-outline-light my-2 my-sm-0' %>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
                <%= f.text_field :word, placeholder: "キーワードを入力", class: "form-control" %>
                <%= f.select :range, options_for_select([['投稿者'], ['タイトル']]) %>
                <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                <%= f.submit "検索", class: 'btn btn-outline-light my-2 my-sm-0' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main class="layout">
      <%= yield %>
    </main>
  </body>
</html>
